# Java
*.class

# Python
__pycache__

# IntelliJ
.idea
.idea/*

# VS code
.bloop/
.metals/
.vscode/

# sbt
.bsp
target/
project/

# Mac
.DS_Store

# custom files and folders that should not be committed
bert-base-cased-mtl/
data/
epoch_stats.txt

